<!--View to show all stocks-->
<template>
    <div>
        <h2 class="text-center">Stocks List</h2>
 
        <table class="table">
            <thead>
            <tr>
                <th>Symbol</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Current Price</th>
                <th>Percent Change</th>
                <th>Current Value</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="stock in stocks" :key="stock.id">
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.price }}</td>
                <td>{{ stock.quantity }}</td>
                <td>{{ stock.currentPrice }}</td>
                <td>{{ (((stock.currentPrice - stock.price)/stock.price)*100).toFixed(2)}}%</td>
                <td>{{ stock.currentPrice*stock.quantity }} USD</td>
                <td>
                    <div class="btn-group" role="group">
                        <router-link :to="{name: 'edit', params: { id: stock.id }}" class="btn btn-success">Edit</router-link>
                        <button class="btn btn-danger" @click="deleteStock(stock.id)">Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>       
    </div>
</template>
 
<script>
    export default {
        data() {
            return {
                stocks: []
            }
        },
        created() {
        //get data from database using axios
            this.axios
                .get('http://localhost:8000/api/stocks/')
                .then(response => {
                    var result = response.data;
                    var array = [];
                    result.forEach((stock) => {
                        stock.currentPrice = 0;
                        //get latest stock price from alphavantage api and add to current price property
                        axios
                            .get('https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=' + stock.symbol + '&interval=5min&apikey=UTPPKZMTAIYD9H9K')
                            .then((response) => {
                                var result1 = response.data;
                                var arr = result1['Time Series (5min)'];
                                var dateResult = Object.keys(arr);
                                var dateToday = new Date().toLocaleDateString()
                                dateToday = dateResult[0];
                                dateResult.forEach( (date)=> {
                                    if (dateToday < date) {
                                        dateToday = date;
                                        }
                                    });
                                var lastElement = arr[dateToday]['1. open'];
                                stock.currentPrice = parseInt(lastElement);
                            });
                        array.push(stock);
                    });
                    this.stocks = array;
                });
        },
        methods: {
            //function to delete stock from database
            deleteStock(id) { 
                this.axios
                    .delete(`http://localhost:8000/api/stocks/${id}`)
                    .then(response => {
                        let i = this.stocks.map(data => data.id).indexOf(id);
                        this.stocks.splice(i, 1)
                    });
            }
        }
    }
</script>