<!-- view to add new stock -->
<template>
    <div>
        <h3 class="text-center">Create Stock</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="addStock">
                    <div class="form-group">
                        <label>Symbol</label>
                        <input type="text" class="form-control" v-model="stock.symbol">
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="text" class="form-control" v-model="stock.price">
                    </div>
                    <div class="form-group">
                        <label>Quantity</label>
                        <input type="text" class="form-control" v-model="stock.quantity">
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</template>
 
<script>
    export default {
        data() {
            return {
                stock: {}
            }
        },
        methods: {
            //function to create new stock
            addStock() {
                 this.axios
                    .post('http://localhost:8000/api/stocks', this.stock)
                    .then(response => (
                        this.$router.push({ name: 'home' })
                    ))
                    .catch(err => console.log(err))
                    .finally(() => this.loading = false)
            }
        }
    }
</script>