<!--view to edit stock-->
<template>
    <div>
        <h3 class="text-center">Edit Stock</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="updateStock">
                    <div class="form-group">
                        <label>Symbol</label>
                        <input type="text" class="form-control" v-model="stock.symbol">
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="text" class="form-control" v-model="stock.price">
                    </div>
                    <div class="form-group">
                        <label>Quantity</label>
                        <input type="text" class="form-control" v-model="stock.quantity">
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</template>
 
<script>
    export default {
        data() {
            return {
                stock: {}
            }
        },
        created() {
            this.axios
                .get(`http://localhost:8000/api/stocks/${this.$route.params.id}`)
                .then((res) => {
                    this.stock = res.data;
                });
        },
        methods: {
            //function to edit stock
            updateStock() {
                this.axios
                    .patch(`http://localhost:8000/api/stocks/${this.$route.params.id}`, this.stock)
                    .then((res) => {
                        this.$router.push({ name: 'home' });
                    });
            }
        }
    }
</script>